#header {
	height: 70px;
	background-color: #a7e0eb;
	color: #000;
}

/* 设置导航条样式 */
#header .nev {
	width: 80%;
	height: 70px;
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header .nev .menu {
	width: 50%;
}

#header .nev .menu ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#header .nev .menu .menu-1 {
	font-size: 20px;
	line-height: 48px;
	position: relative;
}

#header .nev .menu .menu-1 img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

#header .nev .menu .menu-1 .menu-2 {
	display: none;
	position: absolute;
	line-height: 20px;
	left: -15px;
	top: 38px;
	width: 150px;
	border: #B0B0B0 1px solid;
	z-index: 1000;
}

#header .nev .menu .menu-1 .menu-2 li {
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
	font-size: 18px;
}

#header .nev .menu .menu-1:hover .menu-2 {
	display: block;
	background-color: white;
	color: #000000;
}

#header .nev .menu .menu-1 .menu-2 li:hover {
	color: #a6e1e6;
}

/* 搜索框和用户登录 */
#header .nev .right {
	width: 40%;
	line-height: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header .nev .right .search input {
	width: 300px;
	height: 28px;
	padding: 5px 20px;
	font-size: 20px;
	border-radius: 17px;
}

#header .nev .right .search input:focus {
	outline: none;
	border: #87CEEB 3px solid;
}

/* 菜单 */
#subnev {
	background-color: #fff;
}

#subnev .mod_top_subnav {
	margin: 0 auto;
	width: 70%;
	display: flex;
}

#subnev .mod_top_subnav .top_subnav__item {
	flex: 1;
	font-size: 18px;
	height: 51px;
	line-height: 51px;
}

#subnev .mod_top_subnav .top_subnav__item a:hover {
	color: #9fd7de;
}

#subnev .mod_top_subnav .top_subnav__item a {
	color: #000000;
}

#active a {
	color: #9fd7de !important;
}

/* 分类歌单 */
.classily {
	padding: 30px 0;
	background-color: #f2f9fa;
	width: 100%;
	margin-top: 20px;
	display: flex;
}

.classily_item {
	flex: 1;
	width: 30%;
	margin: 10px 20px;
	border-right: 1px solid rgba(0, 0, 0, .4);
}

.classily_item h3 {
	font-weight: 600;
	color: #B0B0B0;
}

.classily_item .classily_item_list li {
	margin: 10px 0;
	width: 86px;
	display: inline-block;
	padding: 0 8px;
	font-size: 17px;
}

.classily_item .classily_item_list .classily_more:hover {
	color: #008000;
}

/* 内容区 */
#container {
	margin-top: 30px;
	padding: 30px 0;
	background-image: linear-gradient(#f2f9fa, #fff);
}

.recommden {
	width: 90%;
	margin: 0 auto;
}

#container h3 {
	text-align: center;
	font-size: 26px;
	letter-spacing: 26px;
}

.recommden .playlist__item_box {
	float: left;
	margin: 10px 25px;
	height: 300px;
	width: 21%;
	border: 1px #000000 solid;
	border-radius: 5px;
	transition: all .3s;
}

.recommden .playlist__item_box:hover {
	transform: translate3d(0, 2px, 0);
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
}

.recommden .playlist__item_box a:hover {
	opacity: 0.8;
}

.recommden .playlist__item_box img {
	height: 70%;
	width: 100%;
}

.recommden .playlist__item_box h4 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 15px 0 10px;
	font-size: 18px;
	text-align: center;
}

.recommden .playlist__item_box p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	font-size: 18px;
	color: #B0B0B0;
}

#container .mod_index_tab a {
	flex: 1;
	display: block;
	color: #333;
	font-size: 18px;
}

/* 页脚 */
#footer {
	background-color: rgba(0, 0, 0, .1);
	width: 100%;
	padding: 30px;
	margin-top: 30px;
	display: flex;
}

#footer .footer_item {
	flex: 1;
	width: 30%;
	margin: 10px 20px;
}

#footer .footer_item li {
	line-height: 30px;
}

#footer .footer_item li:nth-child(1) {
	font-size: 23px;
}
