<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>分类歌单</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/classily.css"/>
	</head>
	<body>
		<div id="header">
			<div class="nev">
				<div class="menu">
					<ul>
						<li class="menu-1">
							<img src="../../image/首页/图标.jpg" >
						</li>
						<li class="menu-1">猜你喜欢
							<ul class="menu-2">
								<li>为你推荐</li>
								<li>音乐馆</li>
								<li>视频</li>
								<li>电台</li>
							</ul>
						</li>
						<li class="menu-1">分类
							<ul class="menu-2">
								<li>排行榜</li>
								<li>流行</li>
								<li>经典</li>
							</ul>
						</li>
						<li class="menu-1">视频
							<ul class="menu-2">
								<li>排行榜</li>
								<li>流行</li>
								<li>经典</li>
							</ul>
						</li>
						<li class="menu-1">我的
							<ul class="menu-2">
								<li>我喜欢</li>
								<li>本地下载</li>
								<li>最近播放</li>
								<li>收藏</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="right">
					<div class="search">
						<input type="search" id="" value="" />
						<img src="../../image/首页/搜索_填充.png">
					</div>
					<div class="user">
						<a href="../../index.html">
							<img src="../../image/首页/登录用户名.png">
							<p>用户登录</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="subnev">
			<ul class="mod_top_subnav">
				<li class="top_subnav__item"><a href="home.html">首页</a></li>
				<li class="top_subnav__item"><a href="songer.html">歌手</a></li>
				<li class="top_subnav__item"><a href="newDics.html">新碟</a></li>
				<li class="top_subnav__item"><a href="mv.html">mv</a></li>
				<li class="top_subnav__item"><a href="paihang.html">排行榜</a></li>
				<li class="top_subnav__item" id="active"><a href="classify.html">分类歌单</a></li>
			</ul>
		</div>
		<!-- 分类歌单 -->
		<div class="classily">
			<div class="classily_item">
				<h3>热门</h3>
				<ul class="classily_item_list">
					<li>官方歌单</li>
					<li>AI歌单</li>
					<li>免费热歌</li>
					<li>私藏</li>
				</ul>
			</div>
			<div class="classily_item">
				<h3>主题</h3>
				<ul class="classily_item_list">
					<li>KTV金曲</li>
					<li>网络歌曲</li>
					<li>现场音乐</li>
					<li>背景音乐</li>
					<li>经典老歌</li>
					<li>情歌</li>
					<li>儿歌</li>
					<li>ACG</li>
					<li class="classily_more" date-index="0">更多
					</li>
				</ul>
			</div>
			<div class="classily_item">
				<h3>场景</h3>
				<ul class="classily_item_list">
					<li>夜店</li>
					<li>学习工作</li>
					<li>免费热歌</li>
					<li>咖啡馆</li>
					<li class="classily_more" date-index="1">更多
				</ul>
			</div>
			<div class="classily_item">
				<h3>心情</h3>
				<ul class="classily_item_list">
					<li>伤感</li>
					<li>快乐</li>
					<li>安静</li>
					<li>励志</li>
					<li>治愈</li>
					<li>思念</li>
					<li>甜蜜</li>
					<li>寂寞</li>
					<li>宣泄</li>
					<li class="classily_more" date-index="2">更多
				</ul>
			</div>
			<div class="classily_item">
				<h3>年代</h3>
				<ul class="classily_item_list">
					<li>00年代</li>
					<li>90年代</li>
					<li>80年代</li>
					<li>70年代</li>
				</ul>
			</div>
		</div>
		<div id="container">
			<h3>推荐歌单</h3>
			</div>
			<div class="recommden">
				<div class="playlist__item_box">
					<a href=""><img src="../../image/首页/图片15.jpg"></a>
					<h4>停止联系，是我们做过最默契的事</h4>
					<p>贝多芬的猫</p>
				</div>
			</div>
			<div class="recommden">
				<div class="playlist__item_box">
					<a href=""><img src="../../image/首页/图片16.jpg"></a>
					<h4>新的一年，愿你朝阳日落都有收获</h4>
					<p>恰似一缕微光</p>
				</div>
			</div>
			<div class="recommden">
				<div class="playlist__item_box">
					<a href=""><img src="../../image/首页/图片17.jpg"></a>
					<h4>季节换了名字，你也被换了称呼</h4>
					<p>白茶</p>
				</div>
			</div>
			<div class="recommden">
				<div class="playlist__item_box">
					<a href=""><img src="../../image/首页/图片18.jpg"></a>
					<h4>治愈｜你加一勺糖，岁月甜的刚好</h4>
					<p>为你写诗</p>
				</div>
			</div>
			<div class="recommden">
				<div class="playlist__item_box">
					<a href=""><img src="../../image/首页/图片19.jpg"></a>
					<h4>上班族必备:枯燥无味听点歌解闷</h4>
					<p>微微一笑、很倾城。</p>
				</div>
			</div>
			<div class="recommden">
				<div class="playlist__item_box">
					<a href=""><img src="../../image/首页/图片20.jpg"></a>
					<h4>热歌集：乐观和爱才是生活的解药</h4>
					<p>个斑马滴</p>
				</div>
			</div>
			<div class="recommden">
				<div class="playlist__item_box">
					<a href=""><img src="../../image/首页/图片21.jpg"></a>
					<h4>静心纯音：假期学习也要有仪式感</h4>
					<p>蓝莓 Cake</p>
				</div>
			</div>
			<div class="recommden">
				<div class="playlist__item_box">
					<a href=""><img src="../../image/首页/图片22.jpg"></a>
					<h4>青春答卷：将勇气和自信灌满笔尖</h4>
					<p>好迪真好</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<ul class="footer_item">
				<li>开放平台</li>
				<li>酷我音乐开放平台</li>
				<li>腾讯音乐人</li>
				<li>音乐推</li>
			</ul>
			<ul class="footer_item">
				<li>合作链接</li>
				<li>全民K歌</li>
				<li>车载互联</li>
				<li>QQ演出</li>
			</ul>
			<ul class="footer_item">
				<li>关于我们</li>
				<li>地址：广西财经学院</li>
				<li>电话：12345678901</li>
				<li>QQ:2986934710</li>
			</ul>
		</div>
	</body>
</html>
