<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/home.css"/>
	</head>
	
	<body>
		<div id="header">
			<div class="nev">
				<div class="menu">
					<ul>
						<li class="menu-1">
							<img src="../../image/首页/图标.jpg" >
						</li>
						<li class="menu-1">猜你喜欢
							<ul class="menu-2">
								<li>为你推荐</li>
								<li>音乐馆</li>
								<li>视频</li>
								<li>电台</li>
							</ul>
						</li>
						<li class="menu-1">分类
							<ul class="menu-2">
								<li>排行榜</li>
								<li>流行</li>
								<li>经典</li>
							</ul>
						</li>
						<li class="menu-1">视频
							<ul class="menu-2">
								<li>排行榜</li>
								<li>流行</li>
								<li>经典</li>
							</ul>
						</li>
						<li class="menu-1">我的
							<ul class="menu-2">
								<li>我喜欢</li>
								<li>本地下载</li>
								<li>最近播放</li>
								<li>收藏</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="right">
					<div class="search">
						<input type="search" id="" value="" />
						<img src="../../image/首页/搜索_填充.png">
					</div>
					<div class="user">
						<a href="../../index.html">
							<img src="../../image/首页/登录用户名.png">
							<p>用户登录</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="subnev">
			<ul class="mod_top_subnav">
				<li class="top_subnav__item" id="active"><a href="home.html">首页</a></li>
				<li class="top_subnav__item"><a href="songer.html">歌手</a></li>
				<li class="top_subnav__item"><a href="newDics.html">新碟</a></li>
				<li class="top_subnav__item"><a href="mv.html">mv</a></li>
				<li class="top_subnav__item"><a href="paihang.html">排行榜</a></li>
				<li class="top_subnav__item" ><a href="classify.html">分类歌单</a></li>
			</ul>
		</div>
		<!-- 歌单推荐 -->
		<div id="container">
			<h3>歌单推荐</h3>
			<div class="mod_index_tab">
				<a href="#">为你推荐</a>
				<a href="#">网络歌曲</a>
				<a href="#">经典国语</a>
				<a href="#">游戏</a>
				<a href="#">官方歌单</a>
				<a href="#">情歌</a>
			</div>
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="../../image/首页/图片11.jpg">
						<h4>梦回八九十年代，追忆已惘然</h4>
					</div>
					<div class="swiper-slide">
						<img src="../../image/首页/图片12.jpg">
						<h4>小酒馆爵士：惬意的黄昏爱恋</h4>
					</div>
					<div class="swiper-slide">
						<img src="../../image/首页/图片7.jpg">
						<h4>甜歌rap：我每一首情歌都唱给你听</h4>
					</div>
					<div class="swiper-slide">
						<img src="../../image/首页/图片9.jpg">
						<h4>失恋日记|想念的字句仅私人可见</h4>
					</div>
					<div class="swiper-slide">
						<img src="../../image/首页/图片5.jpg">
						<h4>「深夜走街」轰鸣の低趴黑武士</h4>
					</div>
					<div class="swiper-slide">
						<img src="../../image/首页/图片6.jpg">
						<h4>片段翻唱丨坠入星河总归是种温柔</h4>
					</div>
					<div class="swiper-slide">
						<img src="../../image/首页/图片7.jpg">
						<h4>效率加倍丨学习工作专属轻音乐</h4>
					</div>
					<div class="swiper-slide">
						<img src="../../image/首页/图片8.jpeg">
						<h4>文艺书店的英文歌单列表</h4>
					</div>
					<div class="swiper-slide">
						<img src="../../image/首页/图片18.jpg">
						<h4>高考加油鼓励曲</h4>
					</div>
					<div class="swiper-slide">
						<img src="../../image/首页/图片27.jpg">
						<h4>有助睡眠【纯音乐】</h4>
					</div>
				</div>
				<!-- 如果需要分页器 -->
				<div class="swiper-pagination"></div>
				<!-- 如果需要导航按钮 -->
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
			<!-- mv -->
			<div id="container">
				<h3>新歌首发</h3>
				<div class="mod_index_tab">
					<a href="#">最新</a>
					<a href="#">飙升榜</a>
					<a href="#">内地</a>
					<a href="#">欧美</a>
				</div>
				<div class="recommden">
					<div class="playlist__item_box">
						<a href=""><img src="../../image/首页/图片29.jpg"></a>
						<h4>夏夜风起时</h4>
						<p>邵帅</p>
					</div>
				</div>
				<div class="recommden">
					<div class="playlist__item_box">
						<a href=""><img src="../../image/首页/图片30.jpg"></a>
						<h4>云烟成雨</h4>
						<p>房东的猫</p>
					</div>
				</div>
				<div class="recommden">
					<div class="playlist__item_box">
						<a href=""><img src="../../image/首页/图片21.jpg"></a>
						<h4>无名的人</h4>
						<p>毛不易</p>
					</div>
				</div>
				<div class="recommden">
					<div class="playlist__item_box">
						<a href=""><img src="../../image/首页/图片22.jpg"></a>
						<h4>靠近你</h4>
						<p>一只白羊</p>
					</div>
				</div>
				<div class="recommden">
					<div class="playlist__item_box">
						<a href=""><img src="../../image/首页/图片24.jpg"></a>
						<h4>光阴的故事2022</h4>
						<p>易烊千玺</p>
					</div>
				</div>
				<div class="recommden">
					<div class="playlist__item_box">
						<a href=""><img src="../../image/首页/图片26.jpg"></a>
						<h4>沉溺孤岛</h4>
						<p>星野</p>
					</div>
				</div>
				<div class="recommden">
					<div class="playlist__item_box">
						<a href=""><img src="../../image/首页/图片30.jpg"></a>
						<h4>今晚的夜空那么明亮</h4>
						<p>陈硕子</p>
					</div>
				</div>
				<div class="recommden">
					<div class="playlist__item_box">
						<a href=""><img src="../../image/首页/图片34.jpg"></a>
						<h4>富士山下</h4>
						<p>陈奕迅</p>
					</div>
				</div>
			</div>
			<div id="footer">
				<ul class="footer_item">
					<li>开放平台</li>
					<li>酷我音乐开放平台</li>
					<li>腾讯音乐人</li>
					<li>音乐推</li>
				</ul>
				<ul class="footer_item">
					<li>合作链接</li>
					<li>全民K歌</li>
					<li>车载互联</li>
					<li>QQ演出</li>
				</ul>
				<ul class="footer_item">
					<li>关于我们</li>
					<li>地址：广西财经学院</li>
					<li>电话：12345678901</li>
					<li>QQ:2986934710</li>
				</ul>
			</div>
	</body>
	<script src="../../js/home.js" type="text/javascript" charset="utf-8"></script>
</html>
