<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>mv</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
		<!-- 引入swiper -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mv.css"/>
	</head>
	
	<body>
		<div id="header">
			<div class="nev">
				<div class="menu">
					<ul>
						<li class="menu-1">
							<img src="../../image/首页/图标.jpg" >
						</li>
						<li class="menu-1">猜你喜欢
							<ul class="menu-2">
								<li>为你推荐</li>
								<li>音乐馆</li>
								<li>视频</li>
								<li>电台</li>
							</ul>
						</li>
						<li class="menu-1">分类
							<ul class="menu-2">
								<li>排行榜</li>
								<li>流行</li>
								<li>经典</li>
							</ul>
						</li>
						<li class="menu-1">视频
							<ul class="menu-2">
								<li>排行榜</li>
								<li>流行</li>
								<li>经典</li>
							</ul>
						</li>
						<li class="menu-1">我的
							<ul class="menu-2">
								<li>我喜欢</li>
								<li>本地下载</li>
								<li>最近播放</li>
								<li>收藏</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="right">
					<div class="search">
						<input type="search" id="" value="" />
						<img src="../../image/首页/搜索_填充.png">
					</div>
					<div class="user">
						<a href="../../index.html">
							<img src="../../image/首页/登录用户名.png">
							<p>用户登录</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="subnev">
			<ul class="mod_top_subnav">
				<li class="top_subnav__item"><a href="home.html">首页</a></li>
				<li class="top_subnav__item"><a href="songer.html">歌手</a></li>
				<li class="top_subnav__item"><a href="newDics.html">新碟</a></li>
				<li class="top_subnav__item" id="active"><a href="mv.html">mv</a></li>
				<li class="top_subnav__item"><a href="paihang.html">排行榜</a></li>
				<li class="top_subnav__item"><a href="classify.html">分类歌单</a></li>
			</ul>
		</div>
		<!-- 视频 -->
		<div class="video_player">
			<video autoplay="autoplay" loop>
				<source src="../../image/视频/视频2.mp4">
				</source>
			</video>
		</div>
		<!-- 精彩推荐 -->
		<div class="recommden_video">
			<h3>精彩推荐</h3>
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a class="newsList_pic" href="">
							<img src="../../image/登录/背景图片.jpg">
						</a>
						<h4>七里香</h4>
						<p>作者：周杰伦</p>
						<p>时间：2001-2-13</p>
					</div>
					<div class="swiper-slide">
						<a class="newsList_pic" href="">
							<img src="../../image/首页/告五人.jpg">
						</a>
						<h4>唯一</h4>
						<p>作者：告五人</p>
						<p>时间：2020-9-23</p>
					</div>
					<div class="swiper-slide">
						<a class="newsList_pic" href="">
							<img src="../../image/首页/周杰伦.jpg">
						</a>
						<h4>当葡萄成熟时</h4>
						<p>作者：陈奕迅</p>
						<p>时间：1999-7-2</p>
					</div>
					<div class="swiper-slide">
						<a class="newsList_pic" href="">
							<img src="../../image/首页/图片10.jpg">
						</a>
						<h4>里予</h4>
						<p>作者：枯木逢春</p>
						<p>时间：2012-3-16</p>
					</div>
					<div class="swiper-slide">
						<a class="newsList_pic" href="">
							<img src="../../image/首页/图片11.jpg">
						</a>
						<h4>追光者</h4>
						<p>作者：岺宁儿</p>
						<p>时间：2018-6-9</p>
					</div>
					<div class="swiper-slide">
						<a class="newsList_pic" href="">
							<img src="../../image/首页/图片12.jpg">
						</a>
						<h4>爱的飞行日记</h4>
						<p>作者：周杰伦</p>
						<p>时间：2005-7-24</p>
					</div>
					<div class="swiper-slide">
						<a class="newsList_pic" href="">
							<img src="../../image/首页/图片14.jpg">
						</a>
						<h4>云烟成雨</h4>
						<p>作者：房东的猫</p>
						<p>时间：2015-8-14</p>
					</div>
					<div class="swiper-slide">
						<a class="newsList_pic" href="">
							<img src="../../image/首页/图片18.jpg">
						</a>
						<h4>山楂树之恋</h4>
						<p>作者：李玉</p>
						<p>时间：1893-2-8</p>
					</div>
					<div class="swiper-slide">
						<a class="newsList_pic" href="">
							<img src="../../image/首页/图片15.jpg">
						</a>
						<h4>小幸运</h4>
						<p>作者：田馥郁</p>
						<p>时间：2012-3-23</p>
					</div>
					<div class="swiper-slide">
						<a class="newsList_pic" href="">
							<img src="../../image/首页/图片25.jpg">
						</a>
						<h4>就这样爱着你</h4>
						<p>作者：告五人</p>
						<p>时间：2019-6-18</p>
					</div>
				</div>
				<!-- 如果需要分页器 -->
				<div class="swiper-pagination"></div>
				<!-- 如果需要导航按钮 -->
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
		<!-- 视频简介 -->
		<div class="recommden_video">
			<h3>视频简介</h3>
			<div class="summary">
				<p>
					陈奕迅的《我们》的我们是一首电影主题曲，也是他所以电影曲里最贴近电影本身的一首歌。因为他的个人风格太强，唱电影主题曲总有一些出戏感。但这首《我们》，却好像是为《后来的我们》这部电影量身定制的一般。
                </p>
			</div>
		</div>
		<!-- 评论 -->
		<div class="recommden_video">
			<h3>评论</h3>
			<div class="comment">
				<p>客官，还没有人评论哟，快来抢沙发吧！！！</p>
			</div>

		</div>
		<div id="footer">
			<ul class="footer_item">
				<li>开放平台</li>
				<li>酷我音乐开放平台</li>
				<li>腾讯音乐人</li>
				<li>音乐推</li>
			</ul>
			<ul class="footer_item">
				<li>合作链接</li>
				<li>全民K歌</li>
				<li>车载互联</li>
				<li>QQ演出</li>
			</ul>
			<ul class="footer_item">
				<li>关于我们</li>
				<li>地址：广西财经学院</li>
				<li>电话：12345678901</li>
				<li>QQ:2986934710</li>
			</ul>
		</div>
	</body>
	<script src="../../js/mv.js" type="text/javascript" charset="utf-8"></script>
</html>
