<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>新碟</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../../css/newDics.css"/>
	</head>
	
	<body>
		<div id="header">
			<div class="nev">
				<div class="menu">
					<ul>
						<li class="menu-1">
							<img src="../../image/首页/图标.jpg" >
						</li>
						<li class="menu-1">猜你喜欢
							<ul class="menu-2">
								<li>为你推荐</li>
								<li>音乐馆</li>
								<li>视频</li>
								<li>电台</li>
							</ul>
						</li>
						<li class="menu-1">分类
							<ul class="menu-2">
								<li>排行榜</li>
								<li>流行</li>
								<li>经典</li>
							</ul>
						</li>
						<li class="menu-1">视频
							<ul class="menu-2">
								<li>排行榜</li>
								<li>流行</li>
								<li>经典</li>
							</ul>
						</li>
						<li class="menu-1">我的
							<ul class="menu-2">
								<li>我喜欢</li>
								<li>本地下载</li>
								<li>最近播放</li>
								<li>收藏</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="right">
					<div class="search">
						<input type="search" id="" value="" />
						<img src="../../image/首页/搜索_填充.png">
					</div>
					<div class="user">
						<a href="../../index.html">
							<img src="../../image/首页/登录用户名.png">
							<p>用户登录</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="subnev">
			<ul class="mod_top_subnav">
				<li class="top_subnav__item"><a href="home.html">首页</a></li>
				<li class="top_subnav__item"><a href="songer.html">歌手</a></li>
				<li class="top_subnav__item" id="active"><a href="newDics.html">新碟</a></li>
				<li class="top_subnav__item"><a href="mv.html">mv</a></li>
				<li class="top_subnav__item"><a href="paihang.html">排行榜</a></li>
				<li class="top_subnav__item"><a href="classify.html">分类歌单</a></li>
			</ul>
		</div>
		<!-- 内容区 -->
		<div class="new_disc">
			<div class="new_disc_classily">
				<li class="active">内地</li>
				<li>欧美</li>
				<li>韩国</li>
				<li>日本</li>
				<li>其他</li>
			</div>
			<div class="new_disc_list">
				<ul class="new_disc_item">
					<li>
						<img src="../../image/首页/图片23.jpg">
						<h4>风景</h4>
						<p>苏醒AllenSu</p>
						<p>2022-06-20</p>
					</li>
					<li>
						<img src="../../image/首页/图片24.jpg">
						<h4>那些人</h4>
						<p>杨斐</p>
						<p>2022-06-03</p>
					</li>
					<li>
						<img src="../../image/首页/图片25.jpg">
						<h4>林深时见鹿</h4>
						<p>甘璐</p>
						<p>2022-06-20</p>
					</li>
					<li>
						<img src="../../image/首页/图片26.jpg">
						<h4>都要好好地</h4>
						<p>王矜霖</p>
						<p>2022-06-10</p>
					</li>
					<li>
						<img src="../../image/首页/图片27.jpg">
						<h4>2022我们零零碎碎的</h4>
						<p>超级市场</p>
						<p>2022-06-05</p>
					</li>
				</ul>
				<ul class="new_disc_item">
					<li>
						<img src="../../image/首页/图片28.jpg">
						<h4>词不达意的瞬间</h4>
						<p>木子洁</p>
						<p>2022-06-26</p>
					</li>
					<li>
						<img src="../../image/首页/图片29.jpg">
						<h4>前程似锦</h4>
						<p>武艺</p>
						<p>2022-06-17</p>
					</li>
					<li>
						<img src="../../image/首页/图片30.jpg">
						<h4>忘记日出</h4>
						<p>许魏洲 /窒息乐队</p>
						<p>2022-06-20</p>
					</li>
					<li>
						<img src="../../image/首页/图片31.jpg">
						<h4>Hundred Times</h4>
						<p>Lizzy Wang /VaVa毛衍七</p>
						<p>2022-06-20</p>
					</li>
					<li>
						<img src="../../image/首页/图片32.jpg">
						<h4>夏日少年气</h4>
						<p>赵让</p>
						<p>2022-06-20</p>
					</li>
				</ul>
				<ul class="new_disc_item">
					<li>
						<img src="../../image/首页/图片33.jpg">
						<h4>春风丛林</h4>
						<p>冯冠豪</p>
						<p>2022-06-20</p>
					</li>
					<li>
						<img src="../../image/首页/图片1.jpg">
						<h4>同花顺</h4>
						<p>葱香科学家</p>
						<p>2022-06-20</p>
					</li>
					<li>
						<img src="../../image/首页/图片2.jpg">
						<h4>我的麦子熟了</h4>
						<p>林海鑫</p>
						<p>2022-06-20</p>
					</li>
					<li>
						<img src="../../image/首页/图片3.jpg">
						<h4>失重</h4>
						<p>蓝心羽</p>
						<p>2022-06-20</p>
					</li>
					<li>
						<img src="../../image/首页/图片4.jpg">
						<h4>Luv & Hope</h4>
						<p>李振宁</p>
						<p>2022-06-20</p>
					</li>
				</ul>
				<ul class="new_disc_item">
					<li>
						<img src="../../image/首页/图片5.jpg">
						<h4>BEGIN-NING</h4>
						<p>何洛洛</p>
						<p>2022-06-20</p>
					</li>
					<li>
						<img src="../../image/首页/图片6.jpg">
						<h4>下一句</h4>
						<p>曲肖冰</p>
						<p>2022-06-20</p>
					</li>
					<li>
						<img src="../../image/首页/图片7.jpg">
						<h4>圣杯8 (Phase)</h4>
						<p>沈以诚</p>
						<p>2022-06-20</p>
					</li>
					<li>
						<img src="../../image/首页/图片14.jpg">
						<h4>Mantie</h4>
						<p>谢天笑</p>
						<p>2022-06-20</p>
					</li>
					<li>
						<img src="../../image/首页/图片9.jpg">
						<h4>某年</h4>
						<p>文雀</p>
						<p>2022-06-20</p>
					</li>
				</ul>
			</div>
		</div>
		<div id="footer">
			<ul class="footer_item">
				<li>开放平台</li>
				<li>酷我音乐开放平台</li>
				<li>腾讯音乐人</li>
				<li>音乐推</li>
			</ul>
			<ul class="footer_item">
				<li>合作链接</li>
				<li>全民K歌</li>
				<li>车载互联</li>
				<li>QQ演出</li>
			</ul>
			<ul class="footer_item">
				<li>关于我们</li>
				<li>地址：广西财经学院</li>
				<li>电话：12345678901</li>
				<li>QQ:2986934710</li>
			</ul>
		</div>
	</body>
</html>
