<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>排行榜</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/paihang.css"/>
	</head>
	
	<body>
		<div id="header">
			<div class="nev">
				<div class="menu">
					<ul>
						<li class="menu-1">
							<img src="../../image/首页/图标.jpg" >
						</li>
						<li class="menu-1">猜你喜欢
							<ul class="menu-2">
								<li>为你推荐</li>
								<li>音乐馆</li>
								<li>视频</li>
								<li>电台</li>
							</ul>
						</li>
						<li class="menu-1">分类
							<ul class="menu-2">
								<li>排行榜</li>
								<li>流行</li>
								<li>经典</li>
							</ul>
						</li>
						<li class="menu-1">视频
							<ul class="menu-2">
								<li>排行榜</li>
								<li>流行</li>
								<li>经典</li>
							</ul>
						</li>
						<li class="menu-1">我的
							<ul class="menu-2">
								<li>我喜欢</li>
								<li>本地下载</li>
								<li>最近播放</li>
								<li>收藏</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="right">
					<div class="search">
						<input type="search" id="" value="" />
						<img src="../../image/首页/搜索_填充.png">
					</div>
					<div class="user">
						<a href="../../index.html">
							<img src="../../image/首页/登录用户名.png">
							<p>用户登录</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="subnev">
			<ul class="mod_top_subnav">
				<li class="top_subnav__item"><a href="home.html">首页</a></li>
				<li class="top_subnav__item"><a href="songer.html">歌手</a></li>
				<li class="top_subnav__item"><a href="newDics.html">新碟</a></li>
				<li class="top_subnav__item"><a href="mv.html">mv</a></li>
				<li class="top_subnav__item" id="active"><a href="paihang.html">排行榜</a></li>
				<li class="top_subnav__item"><a href="classify.html">分类歌单</a></li>
			</ul>
		</div>
		<div class="fenge">
		</div>
		<div class="container">
			<div class="container_left">
				<ul class="highest">
					<h3>巅峰榜</h3>
					<li>飙升榜</li>
					<li>热歌榜</li>
					<li>新歌榜</li>
					<li>流行指数榜</li>
					<li>听歌识曲榜</li>
					<li>mv榜</li>
				</ul>
				<ul class="highest">
					<h3>地区榜</h3>
					<li>内地榜</li>
					<li>香港地区榜</li>
					<li>台湾地区榜</li>
					<li>欧美榜</li>
					<li>日韩榜榜</li>
				</ul>
				<ul class="highest">
					<h3>网络歌曲榜</h3>
					<li>抖音快手榜</li>
					<li>影视金曲榜</li>
					<li>国风新歌榜</li>
					<li>说唱榜</li>
					<li>动漫音乐榜</li>
					<li>游戏音乐榜</li>
				</ul>
				<ul class="highest">
					<h3>全球榜</h3>
					<li>美国热门音乐榜</li>
					<li>韩国Melon榜</li>
					<li>英国榜</li>
					<li>日本榜</li>
					<li>音乐排行榜</li>
				</ul>
			</div>
			<!-- 榜单 -->
			<div class="container_right">
				<div class="popular">
					<h3>流行指数榜</h3>
					<p>2022-6-20</p>
					<p>榜单规则</p>
				</div>
				<div class="broadcast">
					<button type="button">播放全部</button>
					<button type="button">添加到</button>
					<button type="button">下载</button>
					<button type="button">评论</button>
				</div>
				<div class="asc_list">
					<table cellspacing="0"  class="asc_table">
						<thead>
							<th>序号</th>
							<th>歌曲</th>
							<th>歌手</th>
							<th>时长</th>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>妈妈的话</td>
								<td>Zyboy.忠宇</td>
								<td>2:50</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Letting Go</td>
								<td>蔡雅琴</td>
								<td>3:25</td>
							</tr>
							<tr>
								<td>3</td>
								<td>孤勇者</td>
								<td>陈奕迅</td>
								<td>3:57</td>
							</tr>
							<tr>
								<td>4</td>
								<td>可</td>
								<td>薛之谦</td>
								<td>2:50</td>
							</tr>
							<tr>
								<td>5</td>
								<td>就忘了吧</td>
								<td>IK</td>
								<td>3:10</td>
							</tr>
							<tr>
								<td>6</td>
								<td>爱你</td>
								<td>王心凌</td>
								<td>3:24</td>
							</tr>
							<tr>
								<td>7</td>
								<td>偏爱</td>
								<td>张芸京</td>
								<td>2:26</td>
							</tr>
							<tr>
								<td>8</td>
								<td>一样的月光</td>
								<td>徐雅莹</td>
								<td>3:14</td>
							</tr>
							<tr>
								<td>9</td>
								<td>红色高跟鞋</td>
								<td>蔡健雅</td>
								<td>3:19</td>
							</tr>
							<tr>
								<td>10</td>
								<td>美人鱼</td>
								<td>林俊杰</td>
								<td>5:16</td>
							</tr>
							<tr>
								<td>11</td>
								<td>唯一</td>
								<td>告五人</td>
								<td>4:14</td>
							</tr>
							<tr>
								<td>12</td>
								<td>三餐四季</td>
								<td>高鱼</td>
								<td>3:21</td>
							</tr>
							<tr>
								<td>13</td>
								<td>我的名字</td>
								<td>焦迈奇</td>
								<td>5:24</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="footer">
			<ul class="footer_item">
				<li>开放平台</li>
				<li>酷我音乐开放平台</li>
				<li>腾讯音乐人</li>
				<li>音乐推</li>
			</ul>
			<ul class="footer_item">
				<li>合作链接</li>
				<li>全民K歌</li>
				<li>车载互联</li>
				<li>QQ演出</li>
			</ul>
			<ul class="footer_item">
				<li>关于我们</li>
				<li>地址：广西财经学院</li>
				<li>电话：12345678901</li>
				<li>QQ:2986934710</li>
			</ul>
		</div>
	</body>
</html>
