<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<link rel="stylesheet" href="./css/login.css">
		<link rel="stylesheet" type="text/css" href="../../css/register.css"/>
	</head>
	
	<body>
		<div id="login-box">
			<h1>注册</h1>
			<div class="form">
				<div class="item">
					<input type="text" placeholder="username" name="username" id="username">
				</div>
				<div class="item">
					<input type="password" placeholder="password" name="password" id="password">
				</div>
			</div>
			<button type="submit" name="login" id="login"><a href="../../index.html">确定</a></button>
		</div>
	</body>
</html>