<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>歌手</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/songer.css"/>
	</head>
	
	<body>
		<div id="header">
			<div class="nev">
				<div class="menu">
					<ul>
						<li class="menu-1">
							<img src="../../image/首页/图标.jpg" >
						</li>
						<li class="menu-1">猜你喜欢
							<ul class="menu-2">
								<li>为你推荐</li>
								<li>音乐馆</li>
								<li>视频</li>
								<li>电台</li>
							</ul>
						</li>
						<li class="menu-1">分类
							<ul class="menu-2">
								<li>排行榜</li>
								<li>流行</li>
								<li>经典</li>
							</ul>
						</li>
						<li class="menu-1">视频
							<ul class="menu-2">
								<li>排行榜</li>
								<li>流行</li>
								<li>经典</li>
							</ul>
						</li>
						<li class="menu-1">我的
							<ul class="menu-2">
								<li>我喜欢</li>
								<li>本地下载</li>
								<li>最近播放</li>
								<li>收藏</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="right">
					<div class="search">
						<input type="search" id="" value="" />
						<img src="../../image/首页/搜索_填充.png">
					</div>
					<div class="user">
						<a href="../../index.html">
							<img src="../../image/首页/登录用户名.png">
							<p>用户登录</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="subnev">
			<ul class="mod_top_subnav">
				<li class="top_subnav__item"><a href="home.html">首页</a></li>
				<li class="top_subnav__item" id="active"><a href="songer.html">歌手</a></li>
				<li class="top_subnav__item"><a href="newDics.html">新碟</a></li>
				<li class="top_subnav__item"><a href="mv.html">mv</a></li>
				<li class="top_subnav__item"><a href="paihang.html">排行榜</a></li>
				<li class="top_subnav__item"><a href="classify.html">分类歌单</a></li>
			</ul>
		</div>
		<div class="songer">
			<img src="../../image/首页/背景1.jpg" >
		</div>
		<!-- 歌手分类 -->
		<div class="songer_classily">
			<table cellspacing="4" class="songer_table">
				<tr>
					<td class="active">全部</td>
					<td>内地</td>
					<td>港台</td>
					<td>欧美</td>
					<td>日本</td>
					<td>韩国</td>
				</tr>
				<tr>
					<td class="active">全部</td>
					<td>男</td>
					<td>女</td>
					<td>组合</td>
				</tr>
				<tr>
					<td class="active">全部</td>
					<td>流行</td>
					<td>说唱</td>
					<td>国风</td>
					<td>摇滚</td>
					<td>电子</td>
					<td>民谣</td>
					<td>名族乐</td>
					<td>轻音乐</td>
					<td>爵士乐</td>
					<td>古典</td>
					<td>乡村</td>
					<td>民乐</td>
				</tr>
			</table>
		</div>
		<!-- 歌手 -->
		<div class="songer_list">
			<ul class="songer_list_item">
				<li>
					<img src="../../image/首页/告五人.jpg" alt="">
					<h4>告五人</h4>
				</li>
				<li>
					<img src="../../image/首页/郭顶.jpg" >
					<h4>郭顶</h4>
				</li>
				<li>
					<img src="../../image/首页/周星驰.jpg" alt="">
					<h4>周星驰</h4>
				</li>
				<li>
					<img src="../../image/首页/秦霄贤.jpg" >
					<h4>秦霄贤</h4>
				</li>
				<li>
					<img src="../../image/首页/房东的猫.jpg" alt="">
					<h4>房东的猫</h4>
				</li>
			</ul>
			<ul class="songer_list_item">
				<li>
					<img src="../../image/首页/周杰伦.jpg" alt="">
					<h4>周杰伦</h4>
				</li>
				<li>
					<img src="../../image/首页/邓紫棋.jpg" >
					<h4>邓紫棋</h4>
				</li>
				<li>
					<img src="../../image/首页/李现.jpg" alt="">
					<h4>李现</h4>
				</li>
				<li>
					<img src="../../image/首页/薛之谦.jpg" >
					<h4>薛之谦</h4>
				</li>
				<li>
					<img src="../../image/首页/郭麒麟.jpg" alt="">
					<h4>郭麒麟</h4>
				</li>
			</ul>
		</div>
		<div id="footer">
			<ul class="footer_item">
				<li>开放平台</li>
				<li>酷我音乐开放平台</li>
				<li>腾讯音乐人</li>
				<li>音乐推</li>
			</ul>
			<ul class="footer_item">
				<li>合作链接</li>
				<li>全民K歌</li>
				<li>车载互联</li>
				<li>QQ演出</li>
			</ul>
			<ul class="footer_item">
				<li>关于我们</li>
				<li>地址：广西财经学院</li>
				<li>电话：12345678901</li>
				<li>QQ:2986934710</li>
			</ul>
		</div>
	</body>
</html>
